package entregas;

public class Env{

	private static final String USER = "usuario";
	private static final String PASS = "clave";

	public static String getPass(){
	return PASS;
	}

	public static String getUser(){
	return USER;
	}

}